body{
    font-family: 'Open Sans', sans-serif;  
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.header{
    background-color:#FFF8F3;
    background-image:  url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:  top left;
    background-size: 8rem 30rem;
    background-position-y: center;
    height: 34rem;   
}
nav{
    display: flex;
    justify-content: right;
    align-items: right;
}
nav ul{
    display: flex;
    justify-content:right;
    align-items:right;
}
nav li{
    list-style: none;
    margin-right: 3rem;
}
nav a{
    text-decoration: none;
    color:#474747;   
}
.u{
    color: #FD6E0A;
}
.flex-1{
margin-left: 12rem;
}
.flex-none>ul>li{
    margin-right: 2rem;
}
.btn{
    background-color: #FD6E0A;
    color:#FFF;
    border: none;
}
.btn1{
background: #FD6E0A;
padding: 0.9rem 1.9rem;
color:#fff ;
}
.banner-content{
    width: 25rem;
}
.Hi{
    font-size: 3rem;
    font-weight: 300;
    margin:0;
}
.banner-title{
    font-size: 3.5rem;
 font-weight: 600;
}
.banner-description{
    font-size: 1rem;    
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 2rem 0 12.5rem;  
}
.banner-profile-pic{
    height: 24rem;
    width: 17rem; 
}
.btn2{
 width:150px;
 height:40px;
 background-color: #FD6E0A;
 color:#FFF;
 border: none;
 margin: 15px 0;
}
.btn3{
  width:140px;
  height:35px;
  background: #FFF8F3;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
}
.main-div{
    background-color: #FFF8F3;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: 60px 10px 60px 80px;

}
.about{
    text-align:center;
    font-weight:700;
    padding-top: 20px;
}
.about-me{
    font-size: 17px;
    color:#3d3737;
    padding: 30px 60px;
    
}
.about-info-container{
    display: flex;
     gap:20%;
     padding-left: 5%;
}
.about-info{
    font-size: small;
    
}
.what-i-do{
    text-align: center;
}
.what-i-do-des{
    font-size: 13px;
    padding:0 80px 50px 80px;
    
}
.skills{
    display: flex;
    gap:24px;
    font-size: 13p;
    padding: 0 30px 30px 30px;
   
}
.skill1{
background-color:#FFF;
border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(7, 7, 7, 0.06);

}
.skill-description{
    color:#757575;
    padding:0 10px;

}
.skill-title{
    padding: 0 10px;
}
.img-skill{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 0;
}
.resume-container{
    margin: 40px;
     display: flex;
     gap:20px;
     
}
.resume-item-title{
color:  #201d1d;
font-size: 18px;
}
.resume-item-institute{
color:  #312d2d;
font-size: 17px;
}
.resume-item-description{
    font-size: 15px;

}
.btn4{
    text-align: center;

}
footer{
    display:flex;
    padding: 130px 150px;
    background: #FFF8F3;
    gap: 150px;
}
.footer1{
    width:50%;
}
.footer2{
    width: 50%;
}
.contact input,textarea{
    display: block;
    margin-bottom: 20px;
    padding: 13px 60px 13px 10px;
    color:#757575;
    border-radius: 5px;
background: #FFF;
border: none;
box-shadow: 0px 6px 50px 0px rgba(7, 7, 7, 0.06);

}
.developer{
    color: rgba(24, 24, 24, 0.15);
font-family: Open Sans;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 33px;
}
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .skills,.resume-container,.about-info-container,.footer{
        flex-direction: column;
    }
    .what-i-do-des{
        
flex-direction: column;
    }
    .main-div{
        flex-direction: column;
    }
    .btn4{
        flex-direction: column;
    }
    .masum-img{
        flex-direction: column;
    }
   
}
