body{
    font-family: 'Lato',
     sans-serif;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:flex;
    align-items: center;
}
.n{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.p{
    color:orangered;
}
nav>ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
.btn{
     background-color:rgb(238, 70, 9);
     border: 0;
     padding: 15px;
     color: aliceblue;
}